# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [17]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os


# Import API key
import sys
sys.path.insert(1, '../WeatherPy')
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [18]:
citiescsvdf = pd.read_csv("../WeatherPy/citiesdfOutput.csv", encoding = "UTF-8", index_col = 0)
citiescsvdf

,City Name,City Latitude,City Longitude,Max Temperature,Humidity,Cloud Coverage,Wind Speed,City Country,City Datetime
0,Thompson,55.74,-97.86,8.60,84,90,13.87,CA,-21600
1,Mackay,-21.15,149.20,78.80,88,75,9.17,AU,36000
2,Saint George,37.10,-113.58,39.99,80,90,1.90,US,-25200
3,Rafai,4.95,23.92,69.89,53,100,1.88,CF,3600
4,Cape Town,-33.93,18.42,62.01,82,75,5.82,ZA,7200
...,...,...,...,...,...,...,...,...,...
565,Saint-Francois,46.42,3.91,42.80,70,90,10.29,FR,3600
566,Zhigansk,66.77,123.37,-10.34,88,100,19.89,RU,32400
567,Nambour,-26.63,152.95,82.99,79,100,1.99,AU,36000
568,Nizhneivkino,58.19,49.52,-10.37,90,5,2.04,RU,10800
569,Abengourou,6.73,-3.50,69.22,99,17,1.43,CI,0

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [31]:
# Configure map
gmaps.configure(api_key = g_key)
locations = citiescsvdf[["City Latitude", "City Longitude"]].astype(float)

# Set heat weight
humidWeight = citiescsvdf["Humidity"].astype(float)
# Set initial map position
fig = gmaps.figure(zoom_level = 2, center = (32.715, -117.161))
heat_layer = gmaps.heatmap_layer(locations, weights=humidWeight, dissipating = False, max_intensity=100,
                                 point_radius = 1.1)
# Add heat map layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [40]:
# Create initial list of good cities 
goodCitiesdf = citiescsvdf.loc[(citiescsvdf["Max Temperature"] > 75) & 
                               (citiescsvdf["Max Temperature"] < 90)&
                               (citiescsvdf["Wind Speed"] < 10)&
                               (citiescsvdf["Cloud Coverage"] == 0),]

goodCitiesdf = goodCitiesdf.dropna(how = 'any')
goodCitiesdf

,City Name,City Latitude,City Longitude,Max Temperature,Humidity,Cloud Coverage,Wind Speed,City Country,City Datetime
60,Wanning,18.80,110.40,77.81,71,0,7.16,CN,28800
86,Mahibadhoo,3.78,72.97,82.29,73,0,9.57,MV,18000
162,Careiro Da Varzea,-3.20,-59.81,77.00,88,0,3.36,BR,-14400
232,Champasak,14.75,106.00,84.20,58,0,2.24,LA,25200
247,Conceicao Do Araguaia,-8.26,-49.26,75.52,74,0,2.30,BR,-10800
326,Kulhudhuffushi,6.62,73.07,81.61,71,0,8.05,MV,18000
401,Palasa,18.77,84.42,76.01,48,0,4.23,IN,19800
538,Tamandare,-8.76,-35.10,75.51,78,0,7.96,BR,-10800
557,Nakhon Phanom,17.33,104.42,84.99,54,0,4.70,TH,25200

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [47]:
hotel_df = pd.DataFrame({"Hotel Name":[]})
hotel_df

Empty DataFrame
Columns: [Hotel Name]
Index: []

In [59]:
# Build Google Places request URL
baseURL = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?location="
# Variable values
searchLat = str(32.715)
searchLon = str(-117.161)
radius = 5000
searchType = "lodging"
searchWord = "hotel"

# Building subparts
radiusURL = f'&radius={radius}'
typeURL = f'&type={searchType}'
searchURL = f'&keyword={searchWord}'
apikeyURL = f'&key={g_key}'

#Build full URL
fullURL = baseURL + searchLat + ',' + searchLon + radiusURL + typeURL + searchURL + apikeyURL

print(fullURL)

https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=32.715,-117.161&radius=5000&type=lodging&keyword=hotel&key=AIzaSyCat7HQdehRDyoWEFsmWlEHQAKYBws5f2o

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure